@import "tailwindcss";
@theme {
    --color-light: #e7d8c2;
    --color-dark: #071623;
}

body{
    box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }